

<a class ="btn btn-danger" href="/Student/Create">Create</a>
<a class ="btn btn-success" href="/Student/Index">Index</a>

<h2>Create Student Information</h2>
<br>
<br>

<form>
    <label>Name:</label>
    <input type="text" class="form-control"/> <br><br>
    <label>CGPA:</label>
    <input type="text" class="form-control"/><br><br>
    <input type="submit" vlaue="submit" class="btn btn-primary" />
</form>

