
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    tr {
        text-align: center;
    }
</style>

<a class="btn btn-danger" href="/Student/Create">Create</a>
<a class="btn btn-success" href="/Student/Index">Index</a>

<h2>Student Information</h2>
<br>
<br>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CGPA</th>
    </tr>
    <tr>
        <td>22-49172-3</td>
        <td>Md. Sazzad Khan</td>
        <td>3.00</td>
    </tr>
    <tr>
        <td>22-49196-3</td>
        <td>Saiful Islam Oni</td>
        <td>4.00</td>
    </tr>
    <tr>
        <td>22-49157-3</td>
        <td>Ibtihazzam Sadid</td>
        <td>3.00</td>
    </tr>
</table>

