
<style>
    table,th,td
    {
        border : 1px solid black;
        border-collapse: collapse;
    }
</style>
<a href="Index">Index</a>
<a href="Bio">Bio</a>
<a href="Projects">Projects</a>
<a href="Education">Education</a>
<a href="Reference">Reference</a>

<h2>Bio</h2><br><br>

<table border="1">
    <tr>
    <th>Name</th>
    <th>ID</th>
       </tr>
    <tr>
    <td> Md Sazzad Khan</td>
    <td> 22-49172-3</td>
    </tr>
    </table>



