
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<a href="Index">Index</a>
<a href="Bio">Bio</a>
<a href="Projects">Projects</a>
<a href="Education">Education</a>
<a href="Reference">Reference</a>

<h2>Education</h2><br><br>
<br>
<br>

<table>
    <tr>
        <th>Degree</th>
        <th>Academic</th>
        <th>Result</th>
    </tr>
    <tr>
        <td> HSC</td>
        <td> St. Joseph Higher Secondary School & College </td>
        <td> GPA 5.0</td>
    </tr>
    <tr>
        <td> SSC</td>
        <td> St. Joseph Higher Secondary School & College </td>
        <td> GPA 5.0</td>
    </tr>
    <tr>
        <td> HSC</td>
        <td> St. Joseph Higher Secondary School & College </td>
        <td> GPA 5.0</td>
    </tr>
</table>



