
<style>
    table,th,td
    {
        border:1px solid black;
        border-collapse:collapse;
    }
    </style>

<a href="Index">Index</a>
<a href="Bio">Bio</a>
<a href="Projects">Projects</a>
<a href="Education">Education</a>
<a href="Reference">Reference</a>

<h2>Projects</h2><br><br>

                     <table>
                         <tr>
                             <th>Courses</th>
                             <th>Title</th>
                             <th>Describtion</th>
                         </tr>
                         <tr>
                             <td> Java</td>
                             <td> Bangladesh Railway e-Ticket System</td>
                             <td> Bangladesh Railway e-Ticket System</td>
                         </tr>
                         <tr>
                             <td> C#</td>
                             <td> EarthCove Travel Management System</td>
                             <td> EarthCove Travel Management System</td>
                         </tr>
                         <tr>
                             <td> Web Tech</td>
                             <td> EkSeat.com Ride Share Application</td>
                             <td> EkSeat.com Ride Share Application</td>
                         </tr>
                         </table>



